@import "../../css-config/mixins.scss";

.footer {
  // width: 100%;
  .footer-content {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    padding: 50px 20px;
    flex-flow: wrap;
    @include md {
      justify-content: space-between;
      padding: 50px 0;
    }
    .col {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      &:nth-child(3) {
        width: 150px;
        @include md {
          width: auto;
        }
      }

      .title {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .text {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
      }

      .c-item {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
        svg {
          flex-shrink: 0;
          margin-top: 4px;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      span {
        &.text {
          cursor: pointer;
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }

  .bottom-bar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    .bottom-bar-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      @include md {
        max-width: 1200px;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
        height: 60px;
      }

      .text {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);

        svg {
          color: #ff004f;
          font-size: 11px;
        }

        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.5);
        }
        &:hover {
          a {
            color: #1801e4;
            text-decoration: underline;
          }
        }
      }

      img {
        width: 280px;
        @include md {
          width: 300px;
        }
      }
    }
  }
}
